<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" ui-sref="home">Code Girls!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" ui-sref="signUp">Sign Up<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="#">Instructor Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="#">Student Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="overview">Course Overview</a>
      </li>
    </ul>
  </div>
</nav>
